body {
    background: blue;
}

.quiz-container {
    background: #fff;
    width: 80%;
    max-width: 700px;
    margin: 100px auto 0;
    padding: 35px;
    border-radius: 15px;
  }

  .quiz-container h1 {
    font-size: 25px;
    border-bottom: 1px solid;
    padding-bottom: 20px;
    font-weight: 600;
    color: black;
  }

  .quiz {
    padding: 15px 0;
  }

  .quiz h2 {
    font-size: 15px;
    color: black;
    font-weight: 700;
  }

  .btn {
    background: #fff;
    width: 100%;
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #222;
    border-radius: 5px;
    text-align: left;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 600;
    color: black;
  }

  .btn:hover:not([disabled]){
    background: #222;
    color: #fff;
  }
  .btn:disabled {
    cursor: no-drop;
  }
  
  #next-btn {
    background: black;
    color: white;
    font-weight: 600;
    border: 0;
    border-radius: 4px;
    padding: 10px;
    margin: 20px auto 0;
    width: 200px;
    cursor: pointer;
    display: none;
  }